root = true

[*]
charset = utf-8
end_of_line = lf
max_line_length = 100
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[.editorconfig]
ij_editorconfig_align_group_field_declarations = false
ij_editorconfig_space_after_colon = false
ij_editorconfig_space_after_comma = true
ij_editorconfig_space_before_colon = false
ij_editorconfig_space_before_comma = false
ij_editorconfig_spaces_around_assignment_operators = true

[{*.yml,*.yaml}]
ij_yaml_keep_indents_on_empty_lines = false
ij_yaml_keep_line_breaks = true
